@media screen and (max-width: 1000px){
    .img-capa{
        width: 30vw;
    }
    .logo{
        width: 70vw;
    }
    .login{
        width: 70vw;
    }
}
@media screen and (max-width: 800px){
    .img-capa{
        display: none;
    }
    .logo{
        width: 100vw;
    }
    .login{
        width: 100vw;
        height: 100vh;
    }
}
@media screen and (max-width: 450px){
    body{
        background-color: #24221f;
        font-size: 10px;
    }
    .login-bloco{
        align-self: flex-start;
        margin-top: 50px;
        width: 90%;
        height: 450px;
        padding: 0 10%;
        background-color: var(--form-background);
    }
}