*{
    margin: 0;
    padding: 0;
}
:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}
h1{
    color: var(--text-title);
}
body{
    background-color: var(--background);
    color: var(--text-base);
}

.container{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
.logo{
    position: fixed;
    width: 50vw;
}
.logo img{
    margin: 20px;
}
.login-bloco{
    width: 50%;
    height: 60%;
    padding: 0 10%;
    background-color: var(--form-background);
}
.img-capa{
    width: 50%;
    height: 100vh;
    background: url(images/side-image-2x.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.titulo-bloco-login{
    display: flex;
}
